<div class="row">
    <div class="my-3">
        <h3><u>footer social links and order</u></h3>
    </div>
    <div class="col-5">
        <form #addSocialLink="ngForm">

            <div class="input-group">
                <select name="social" class="form-select" #select>
                    <option *ngFor="let s of socialList; index as i" value="{{i}}"
                        [selected]="selectedSocialIndex >= 0 && social[selectedSocialIndex].name == s.name ? 'selected':''"
                        [disabled]="selectedSocialIndex >= 0">
                        {{s.name}}
                    </option>
                </select>
                <input type="text" name="url" class="form-control" placeholder="URL"
                    [value]="selectedSocialIndex>=0 ? social[selectedSocialIndex].url:''" #urlInput="ngModel" ngModel
                    required>
                <button type="button" class="btn btn-info" [disabled]="addSocialLink.invalid"
                    (click)="selectedSocialIndex >= 0 ? handleUpdate(urlInput.value) :onSubmit(+select.value, urlInput.value)">
                    {{selectedSocialIndex >= 0 ? 'Update' : 'Add'}}
                </button>
            </div>
            <div *ngIf="addSocialLink.invalid" class="form-text" [class]="(addSocialLink.dirty) ? 'text-danger':''">URL
                is required.</div>
        </form>
    </div>



    <div cdkDropList #sList="cdkDropList" [cdkDropListData]="social" cdkDropListOrientation="horizontal"
        [cdkDropListConnectedTo]="[rList]" (cdkDropListDropped)="drop($event)" class="col-3 ">
        <span *ngFor="let s of social, index as i" cdkDrag class="fa-stack fa-lg" placement="top" ngbTooltip="{{s.url}}"
            (click)="handleClick(i)" style="cursor: move;">
            <i class="fa fa-square fa-stack-2x text-dark"></i>
            <i class="{{s.icon}} fa-stack-1x text-light"></i>
        </span>
        <div *ngIf="social.length > 0" class="ms-3 form-text">
            Drag to change order, click to edit.
        </div>
    </div>

    <div cdkDropList #rList="cdkDropList" [cdkDropListConnectedTo]="[sList]" [cdkDropListData]="removeList"
        cdkDropListOrientation="horizontal" class="col-3" (cdkDropListDropped)="drop($event)"
        cdkDropListSortingDisabled>
        <span *ngFor="let item of removeList" cdkDrag class="fa-stack fa-lg" placement="top" [cdkDragDisabled]="true"
            ngbTooltip="Drag here to delete">
            <i class="fa fa-square fa-stack-2x text-dark"></i>
            <i class="{{item.icon}} fa-stack-1x text-light"></i>
        </span>
    </div>

    <div class="col-1">
        <button *ngIf="!loading" class="btn btn-primary" (click)="handleSave()">Save</button>
        <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving...
        </button>
    </div>


</div>