<div class="container my-4" style="min-height: 75vh;">
    <div class="row">
        <div class="col-6 text-center">
            <div data-aos="fade-right" #textDiv>
                <h1>About Us</h1>
                <p>
                    Laboris Lorem eiusmod quis consequat id duis dolor fugiat laborum culpa exercitation excepteur
                    eiusmod
                    magna. Occaecat eiusmod aute irure culpa id. Et sint eu nulla ad nulla exercitation ad.
                </p>
                <p>
                    Ullamco ut in fugiat amet adipisicing cillum amet occaecat excepteur labore excepteur ipsum
                    pariatur.
                    Adipisicing reprehenderit ipsum irure ad sunt ut enim. Culpa esse sint cillum in sint esse. Ut
                    cillum
                    veniam ut amet. Nostrud officia minim ad voluptate ea deserunt occaecat adipisicing incididunt do
                    est
                    quis.
                </p>
                <p>
                    Quis in ut suscipit veritatis consequuntur ex id in. Quasi cum eius enim ut omnis aut. Eum nobis
                    modi
                    perferendis aspernatur aperiam harum enim aperiam voluptatem. Dolor impedit suscipit voluptatem eos
                    earum maxime illum placeat numquam.
                </p>
            </div>

        </div>
        <div class="offset-1 col-4 " [style.min-height]="textDiv.offsetHeight + 'px'"
            [style.max-height]="textDiv.offsetHeight + 'px'">
            <img data-aos="zoom-in-left" data-aos-once="true" src="http://placeimg.com/500/800/people"
                class="rounded-2 img-fluid h-100 w-100 image">

        </div>
    </div>
    <div class="row my-5">
        <div class="col-4" [style.min-height]="text2Div.offsetHeight + 'px'"
            [style.max-height]="text2Div.offsetHeight + 'px'">
            <img src="http://placeimg.com/500/800/animals" data-aos="zoom-in-right" data-aos-once="true" class="rounded-2 img-fluid h-100 w-100 image">

        </div>
        <div class=" offset-1 col-6 text-center">
            <div data-aos="fade-left" #text2Div>
                
                <p>
                    Laboris Lorem eiusmod quis consequat id duis dolor fugiat laborum culpa exercitation excepteur
                    eiusmod
                    magna. Occaecat eiusmod aute irure culpa id. Et sint eu nulla ad nulla exercitation ad.
                </p>
                <p>
                    Ullamco ut in fugiat amet adipisicing cillum amet occaecat excepteur labore excepteur ipsum
                    pariatur.
                    Adipisicing reprehenderit ipsum irure ad sunt ut enim. Culpa esse sint cillum in sint esse. Ut
                    cillum
                    veniam ut amet. Nostrud officia minim ad voluptate ea deserunt occaecat adipisicing incididunt do
                    est
                    quis.
                </p>
                <p>
                    Quis in ut suscipit veritatis consequuntur ex id in. Quasi cum eius enim ut omnis aut. Eum nobis
                    modi
                    perferendis aspernatur aperiam harum enim aperiam voluptatem. Dolor impedit suscipit voluptatem eos
                    earum maxime illum placeat numquam.
                </p>
                <p>
                    Excepturi velit iste voluptatibus. Est non molestias libero qui qui fuga. Facilis minus et assumenda
                    doloremque ipsa corporis debitis sed aut. Consequatur minus autem iure. Laboriosam voluptates
                    necessitatibus molestias esse odio eos dicta quis voluptatem. Perferendis est ratione cum.
                </p>
                <p>
                    Magnam labore rerum sunt facere et sequi et. Unde consequatur sit minima deleniti a ut quaerat. Ab
                    fugiat quo iure et dolorem quis exercitationem quis. Facere et beatae inventore et perferendis
                    molestiae nulla voluptates.
                </p>
                <p>
                    Quis in ut suscipit veritatis consequuntur ex id in. Quasi cum eius enim ut omnis aut. Eum nobis
                    modi
                    perferendis aspernatur aperiam harum enim aperiam voluptatem. Dolor impedit suscipit voluptatem eos
                    earum maxime illum placeat numquam.
                </p>
            </div>

        </div>

    </div>
</div>
