<!-- MENU -->
<h4>Settings</h4>
<div class="d-flex flex-sm-row flex-column settings-menu">
    <a routerLink="./general" routerLinkActive="active" class="me-4">General</a>
    <a routerLink="./sidebar" routerLinkActive="active" class="me-4">Sidebar</a>
    <a routerLink="./footer" routerLinkActive="active" class="me-4">Footer</a>
    <a routerLink="./about-page" routerLinkActive="active" class="me-4">About Page</a>
    <a routerLink="./contact-page" routerLinkActive="active" class="me-4">Contact Page</a>
</div>
<router-outlet></router-outlet>

